:root {
  --color-primary: rgb(255, 239, 213);
  --color-secondary: rgb(212, 203, 166);
  --white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fafafa;
}

html {
  /* this defines that 1rem is 10px */
  font-size: 62.5%;
}

.header-primary {
  font-size: 6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}

.header-secondary {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.header-tertiary {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heading-quaternary {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: block;
}

/* @@@ LOGIN PAGE @@@ */

.login-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-hero {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.form__container {
  display: flex;
  justify-content: space-around;
}

.form-user {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.login__label {
  font-size: 1.5rem;
  display: block;
}

.login__input {
  margin-bottom: 0.7rem;
  display: block;
}

.server-msg {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.server-msg .heading-quaternary {
  margin-bottom: 0;
}

/* @@@ HOME PAGE @@@  */

.header {
  padding: 1rem;
  background: linear-gradient(50deg, white 50%, var(--color-primary) 50.1%);
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__side {
  font-size: 2rem;
}

.header__title {
  display: inline-block;
}

.btn {
  padding: 0.5rem 1.6rem;
  border-radius: 25px;
  display: inline-block;
  border: 3px solid black;
  cursor: pointer;
}

.btn--white {
  border-color: #fff;
}

.btn--white:hover {
  background-color: var(--color-primary);
}

.btn--shadow {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6), 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn--shadow:hover {
  background-color: var(--color-primary);
  box-shadow: none;
}

.btn--grey:hover {
  background-color: grey;
  color: var(--color-primary);
}

.plus:before {
  content: '\2795';
  display: inline-block;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 var(--color-primary);
  font-size: 1.8rem;
}
.header__profile {
  margin-right: 2rem;
  display: inline-block;
}
.icon {
  position: relative;
}

.icon--home {
  top: 0.3rem;
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

.icon--profile {
  top: 0.4rem;
  font-size: 2.2rem;
}

.icon--logout {
  top: 0.3rem;
  font-size: 2rem;
}
