:root {
  --color-primary: rgb(255, 239, 213);
  --color-secondary: rgb(212, 203, 166);
  --white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.fitVH {
  height: calc(100vh - 11rem);
  margin-bottom: 1rem;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fafafa;
}

html {
  /* this defines that 1rem is 10px */
  font-size: 62.5%;
}

.heading-primary {
  font-size: 6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
}

.heading-secondary {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heading-quaternary {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: block;
}

/* @@@ LOGIN PAGE @@@ */

.login-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-hero {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 2rem 4rem;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.form__container {
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.login__label {
  font-size: 1.5rem;
  display: block;
}

.login__input {
  margin-bottom: 0.7rem;
  display: block;
}

.server-msg {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.server-msg .heading-quaternary {
  margin-bottom: 0;
}

/* @@@ HOME PAGE @@@  */

.header {
  padding: 1rem;
  background: linear-gradient(50deg, white 50%, var(--color-primary) 50.1%);
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__side {
  font-size: 2rem;
}

.header__title {
  display: inline-block;
}

.btn {
  padding: 0.5rem 1.6rem;
  border: none;
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
}

.btn--white {
  background-color: #fff;
}

.btn--white:hover {
  background-color: var(--color-primary);
}

.btn--shadow {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.btn--shadow:hover {
  box-shadow: none;
}

.btn--grey {
  background-color: var(--color-primary);
}

.btn--grey:hover {
  background-color: grey;
  color: var(--color-primary);
}

.plus:before {
  content: '\2795';
  display: inline-block;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 var(--color-primary);
  font-size: 1.8rem;
}
.header__profile {
  margin-right: 2rem;
  display: inline-block;
}
.icon {
  position: relative;
}

.icon--home {
  top: 0.3rem;
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

.icon--profile {
  top: 0.4rem;
  font-size: 2.2rem;
}

.icon--logout {
  top: 0.3rem;
  font-size: 2rem;
}

/* @@@ POP UP @@@  */

.popup {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__box {
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--color-primary);
  position: relative;
}

.popup__close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 3rem;
  line-height: 1;
}

.popup__close:hover {
  color: grey;
}

/* @@@ ITEMS @@@  */

.items__page {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.items__filter {
  padding: 1rem;
  margin-top: 6rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 21.5rem;
}

.filter-label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1.5rem;
  display: inline-block;
}

.filter-label:last-of-type {
  margin-left: 0;
  padding-top: 1rem;
}

.items__container {
  width: 100%;
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.items__card {
  padding: 1.5rem;
  background-color: var(--color-primary);
  border-radius: 5px;
}

.items__photo {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}

.items__info {
  display: flex;
  justify-content: space-between;
}

.items__text {
  font-size: 1.6rem;
}

/* ### BIDDING ### */

.bidding {
  padding-top: 6rem;
  display: flex;
  align-items: flex-start;
}

.bidding__img {
  background-color: var(--color-primary);
  padding: 2rem;
  flex: 2;
}

.bidding__img img {
  max-width: 100%;
  object-fit: cover;
}

.bidding__info {
  padding: 0 2rem;
  flex: 3;
  align-self: flex-start;
}

.bidding__heading {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 2.5rem;
}

.bidding__form {
  margin-bottom: 2rem;
}

.bidding__input {
  border-radius: 4px;
  height: 3.2rem;
  margin-right: 2rem;
  font-size: 2rem;
}

.bidding__label {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

.bidding__history {
  height: 100%;
  overflow-y: auto;
}

.bid {
  background-color: var(--color-primary);
  padding: 0.5rem 1.5rem;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
}

.bid__text {
  font-size: 1.8rem;
  font-weight: 700;
}

/* %%% FOOTER %%% */

.footer {
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--color-primary);
  padding: 1rem;
  background: linear-gradient(
    50deg,
    white 25%,
    var(--color-primary) 25.1%,
    var(--color-primary) 75%,
    white 75.1%
  );
}
